# Week 2: Identify Nearest Health Facilities

<span style="color:red">
**UPDATE**

Thank you for your analysis. Despite our warning efforts so far, the virus continues to spread rapidly. We want to get infected individuals treatment as quickly as possible, so we need your help to calculate which hospital or clinic is closest to each known infected individual in the population.
</span>

Your goal for this notebook will be to identify the nearest hospital or clinic for each infected person.

## Imports

In [1]:
import cudf
import cuml
import cupy as cp

## Load Population Data

Begin by loading the `lat`, `long` and `infected` columns from `'./data/week2.csv'` into a cuDF data frame called `gdf`.

In [2]:
gdf = cudf.read_csv('./data/week2.csv', usecols=['lat', 'long', 'infected'])
gdf.head()

 missing cuda symbols while dynamic loading
 cuFile initialization failed

         lat      long  infected
0  54.522510 -1.571896       0.0
1  54.554030 -1.524968       0.0
2  54.552486 -1.435203       0.0
3  54.537189 -1.566215       0.0
4  54.528212 -1.588462       0.0

## Load Hospital and Clinics Data

For this step, your goal is to create an `all_med` cuDF data frame that contains the latitudes and longitudes of all the hospitals (data found at `'./data/hospitals.csv'`) and clinics (data found at `'./data/clinics.csv'`).

In [3]:
all_hospitals = cudf.read_csv('./data/hospitals.csv', usecols=['OrganisationType', 'Latitude', 'Longitude']).dropna()
all_hospitals.head()

  OrganisationType   Latitude  Longitude
0         Hospital  51.379997  -0.406042
1         Hospital  51.315132  -0.556289
2         Hospital  51.437195  -2.847193
3         Hospital  53.459743  -2.245469
4         Hospital  52.078121  -0.030604

In [5]:
all_clinics = cudf.read_csv('./data/clinics.csv', usecols=['OrganisationType', 'Latitude', 'Longitude']).dropna()
all_clinics.head()

  OrganisationType   Latitude  Longitude
0           Clinic  51.804237   1.186376
1           Clinic  51.815262   1.154707
2           Clinic  51.780621   1.117907
3           Clinic  53.482368  -2.885404
4           Clinic  53.415630  -2.800874

In [6]:
all_med = cudf.concat([all_hospitals, all_clinics], axis=0).reset_index()
all_med.sample(10)

       index OrganisationType   Latitude  Longitude
8627    7402           Clinic  52.253311  -0.903247
9762    8537           Clinic  52.457325  -1.198001
14077  12854           Clinic  52.913898  -0.645639
12184  10960           Clinic  51.460384  -2.587259
8577    7352           Clinic  53.800049  -1.545655
8767    7542           Clinic  51.486095  -1.085891
14347  13124           Clinic  51.481911  -2.528695
9771    8546           Clinic  51.630993   0.422123
12286  11062           Clinic  50.739777  -1.913019
4127    2901           Clinic  53.537788  -2.095080

In [7]:
all_med.shape

(20301, 4)

Since we will be using the coordinates of those facilities, keep only those rows that are non-null in both  `Latitude` and `Longitude`.

In [8]:
all_med.nunique()

index               19075
OrganisationType        2
Latitude            12458
Longitude           12570
dtype: int64

In [9]:
all_med.isnull().sum()

index               0
OrganisationType    0
Latitude            0
Longitude           0
dtype: int64

## Make Grid Coordinates for Medical Facilities

Provided for you in the next cell (which you can expand by clicking on the "...", and contract again after executing by clicking on the blue left border of the cell) is the lat/long to grid coordinates converter you have used earlier in the workshop. Use this converter to create grid coordinate values stored in `northing` and `easting` columns of the `all_med` data frame you created in the last step.

In [10]:
# https://www.ordnancesurvey.co.uk/docs/support/guide-coordinate-systems-great-britain.pdf

def latlong2osgbgrid_cupy(lat, long, input_degrees=True):
    '''
    Converts latitude and longitude (ellipsoidal) coordinates into northing and easting (grid) coordinates, using a Transverse Mercator projection.
    
    Inputs:
    lat: latitude coordinate (N)
    long: longitude coordinate (E)
    input_degrees: if True (default), interprets the coordinates as degrees; otherwise, interprets coordinates as radians
    
    Output:
    (northing, easting)
    '''
    
    if input_degrees:
        lat = lat * cp.pi/180
        long = long * cp.pi/180

    a = 6377563.396
    b = 6356256.909
    e2 = (a**2 - b**2) / a**2

    N0 = -100000 # northing of true origin
    E0 = 400000 # easting of true origin
    F0 = .9996012717 # scale factor on central meridian
    phi0 = 49 * cp.pi / 180 # latitude of true origin
    lambda0 = -2 * cp.pi / 180 # longitude of true origin and central meridian
    
    sinlat = cp.sin(lat)
    coslat = cp.cos(lat)
    tanlat = cp.tan(lat)
    
    latdiff = lat-phi0
    longdiff = long-lambda0

    n = (a-b) / (a+b)
    nu = a * F0 * (1 - e2 * sinlat ** 2) ** -.5
    rho = a * F0 * (1 - e2) * (1 - e2 * sinlat ** 2) ** -1.5
    eta2 = nu / rho - 1
    M = b * F0 * ((1 + n + 5/4 * (n**2 + n**3)) * latdiff - 
                  (3*(n+n**2) + 21/8 * n**3) * cp.sin(latdiff) * cp.cos(lat+phi0) +
                  15/8 * (n**2 + n**3) * cp.sin(2*(latdiff)) * cp.cos(2*(lat+phi0)) - 
                  35/24 * n**3 * cp.sin(3*(latdiff)) * cp.cos(3*(lat+phi0)))
    I = M + N0
    II = nu/2 * sinlat * coslat
    III = nu/24 * sinlat * coslat ** 3 * (5 - tanlat ** 2 + 9 * eta2)
    IIIA = nu/720 * sinlat * coslat ** 5 * (61-58 * tanlat**2 + tanlat**4)
    IV = nu * coslat
    V = nu / 6 * coslat**3 * (nu/rho - cp.tan(lat)**2)
    VI = nu / 120 * coslat ** 5 * (5 - 18 * tanlat**2 + tanlat**4 + 14 * eta2 - 58 * tanlat**2 * eta2)

    northing = I + II * longdiff**2 + III * longdiff**4 + IIIA * longdiff**6
    easting = E0 + IV * longdiff + V * longdiff**3 + VI * longdiff**5

    return(northing, easting)

In [11]:
cupy_all_med_lat = cp.asarray(all_med['Latitude'])
cupy_all_med_long = cp.asarray(all_med['Longitude'])

northing, easting = latlong2osgbgrid_cupy(cupy_all_med_lat, cupy_all_med_long)

all_med['northing'] = cudf.Series(northing).astype('float32')
all_med['easting'] = cudf.Series(easting).astype('float32')

all_med.head()

   index OrganisationType   Latitude  Longitude       northing       easting
0      0         Hospital  51.379997  -0.406042  165810.468750  510917.53125
1      1         Hospital  51.315132  -0.556289  158381.343750  500604.84375
2      2         Hospital  51.437195  -2.847193  171305.781250  341119.37500
3      3         Hospital  53.459743  -2.245469  395944.562500  383703.59375
4      4         Hospital  52.078121  -0.030604  244071.703125  534945.18750

## Find Closest Hospital or Clinic for Infected

Fit `cuml.NearestNeighbors` with `all_med`'s `northing` and `easting` values, using the named argument `n_neighbors` set to `1`, and save the model as `knn`.

In [12]:
knn = cuml.NearestNeighbors(n_neighbors=1)
# all_med_locs = all_med[['northing', 'easting']]
# all_med_locs.isnull().sum()
knn.fit(all_med[['northing', 'easting']])

NearestNeighbors()

Save every infected member in `gdf` into a new dataframe called `infected_gdf`.

In [13]:
infected_gdf = gdf[gdf['infected'] == 1.0].reset_index()
infected_gdf

          index        lat      long  infected
0       1346586  53.715826 -2.430079       1.0
1       1350932  53.664881 -2.425673       1.0
2       1352085  53.696765 -2.488940       1.0
3       1352799  53.696966 -2.488897       1.0
4       1357529  53.727804 -2.392959       1.0
...         ...        ...       ...       ...
70875  58459189  51.662717 -2.926850       1.0
70876  58459551  51.599350 -2.959175       1.0
70877  58461935  51.543825 -2.822984       1.0
70878  58464082  51.562536 -2.879492       1.0
70879  58464209  51.628748 -2.837151       1.0

[70880 rows x 4 columns]

Create `northing` and `easting` values for `infected_gdf`.

In [14]:
cupy_lat = cp.asarray(infected_gdf['lat'])
cupy_long = cp.asarray(infected_gdf['long'])

northing, easting = latlong2osgbgrid_cupy(cupy_lat, cupy_long)

infected_gdf['northing'] = cudf.Series(northing).astype('float32')
infected_gdf['easting'] = cudf.Series(easting).astype('float32')

infected_gdf.head()

     index        lat      long  infected      northing       easting
0  1346586  53.715826 -2.430079       1.0  424489.78125  371619.68750
1  1350932  53.664881 -2.425673       1.0  418820.68750  371876.50000
2  1352085  53.696765 -2.488940       1.0  422394.40625  367721.00000
3  1352799  53.696966 -2.488897       1.0  422416.81250  367723.96875
4  1357529  53.727804 -2.392959       1.0  425808.12500  374076.56250

Use `knn.kneighbors` with `n_neighbors=1` on `infected_gdf`'s `northing` and `easting` values. Save the return values in `distances` and `indices`.

In [18]:
distances, indices = knn.kneighbors(infected_gdf[['easting', 'northing']], 2)

### Check Your Solution

`indices`, returned from your use of `knn.kneighbors` immediately above, should map person indices to their closest clinic/hospital indices:

In [19]:
indices.head()

       0      1
0  17728  16696
1    686  19791
2  19791  11757
3  19791  11757
4  17728  16696

Here you can print an infected individual's coordinates from `infected_gdf`:

In [20]:
infected_gdf.iloc[0] # get the coords of an infected individual (in this case, individual 0)

index       1.346586e+06
lat         5.371583e+01
long       -2.430079e+00
infected    1.000000e+00
northing    4.244898e+05
easting     3.716197e+05
Name: 0, dtype: float64

You should be able to used the mapped index for the nearest facility to see that indeed the nearest facility is at a nearby coordinate:

In [21]:
all_med.iloc[1234] # printing the entry for facility 1234 (replace with the index identified as closest to the individual)

      index OrganisationType   Latitude  Longitude    northing       easting
1234      8           Clinic  53.404556  -2.831035  390099.125  344757.53125

<div align="center"><h2>Please Restart the Kernel</h2></div>

...before moving to the next notebook.

In [22]:
import IPython
app = IPython.Application.instance()
app.kernel.do_shutdown(True)

{'status': 'ok', 'restart': True}